@import "../common.module.scss";

.container {
  padding: 100px 0;
  @extend .flexRow;
  justify-content: center;
  flex-wrap: wrap;
  .counter {
    @extend .flexColumn;
    // flex: 1;
    margin: 0 50px;
    h1,
    span {
      font-size: 3rem;
      color: #fa3554;
      //   font-family: "bebas neue", sans-serif;
      //   letter-spacing: 5px;
    }
  }
}
