.noDecoration, a {
  text-decoration: none;
  list-style: none;
  outline: none;
}

a {
  cursor: pointer;
}

.btn, .btnFilled, .btnLight {
  opacity: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 10px 10px;
  font-family: "Bebas Neue",sans-serif;
  font-size: 17px;
  line-height: 2em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-radius: 0;
  border: 1px solid white;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  padding: 8px 50px;
  cursor: pointer;
  pointer-events: all !important;
  z-index: 1;
}

.btnFilled {
  color: black;
  background-color: transparent;
  overflow: hidden;
}

.btnFilled::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid white;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btnFilled:hover {
  color: white;
  background-color: none;
}

.btnFilled:hover::after {
  -webkit-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.btnLight:hover {
  color: black;
  background-color: none;
}

.btnLight:hover::after {
  background-color: white;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.btnLight {
  color: white;
  background-color: transparent;
  overflow: hidden;
}

.btnLight::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid white;
  -webkit-transform: rotate(20deg) translateY(100%);
          transform: rotate(20deg) translateY(100%);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container {
  width: 100vw;
  height: 100vh;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .stepper {
  background-color: transparent;
  pointer-events: none;
}

.container .stepper .button {
  pointer-events: all;
}

.container .stepper .labelText {
  color: white !important;
}

.container .content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-top: 10%;
  vertical-align: baseline;
}

.container .content img {
  width: 600px;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .content .text {
  text-align: left;
  padding-left: 10%;
  margin: auto;
  vertical-align: center;
}

.container .content .text h1 {
  color: white;
  z-index: 10;
  font-family: "Bebas Neue",sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 62px;
  vertical-align: middle;
  letter-spacing: .05em;
  word-wrap: break-word;
  padding: 10px 0;
}

.container .content .text p {
  text-align: left;
  padding-left: 8px;
  font-size: 0.9em;
  padding-bottom: 40px;
}

.MuiStep-alternativeLabel {
  -webkit-box-flex: 0 !important;
      -ms-flex: 0 !important;
          flex: 0 !important;
}
/*# sourceMappingURL=CustomStepper.module.css.map */