@import "../../App.module.scss";
@import "../common.module.scss";

.container {
  // margin-top: 150px;
  text-align: center;

  .content {
    width: 80%;
    margin: 0 auto;
    p {
      width: 75%;
    }
    @media only screen and (max-width: 600px) {
      width: 95%;
    }
    @media only screen and (max-width: 400px) {
      p {
        width: 90%;
        font-size: 1.5rem;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .container {
    .bgImage {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

.content {
  color: black;
  width: 100vw;
  min-height: 75vh;
  padding: 50px 0;
  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;

  .floatLeft {
    width: 100%;
    // margin: auto auto;
    @extend .flexColumn;
    align-items: flex-start;
    .contact {
      margin-top: 30px;
      @extend .flexRow;
      span {
        @extend .flexRow;
        justify-content: flex-start;

        svg {
          fill: rgba(0, 0, 0, 0.7);
        }
        h3 {
          margin-left: 10px;
          color: rgba(0, 0, 0, 0.7);
        }
      }
      a {
        color: var(--clr-primary) !important;
      }
      .email {
        margin-left: 50px;
      }

      @media screen and(max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        .email,
        .phone {
          margin: 10px 0;
        }
      }
    }
  }

  .formContainer {
    input,
    textarea,
    select {
      width: 100%;
      background: #f3f3f3;
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 20px 15px;
      margin: 10px 0;
      font-family: "Montserrat", sans-serif;
    }

    .nameEmail {
      @extend .flexRow;
      justify-content: space-between;
      flex-wrap: wrap;
      input {
        width: 48%;
      }
      @media screen and(max-width: 500px) {
        flex-direction: column;
        input {
          width: 100%;
        }
      }
    }
    .btnDrakFilled {
      border-radius: 50px;
      padding: 10px 50px;
      font-size: 1rem;
      font-family: "Oswald", sans-serif;
      border-color: var(--clr-primary);
      &::after {
        background: var(--clr-primary) !important;
      }
      @media screen and(max-width: 500px) {
        width: 100%;
      }
    }
    @media screen and(max-width: 500px) {
      width: 90%;
      margin: 0 auto;
    }
  }

  @media screen and(max-width: 960px) {
    padding: 20px 0;
    .floatLeft {
      text-align: center;
      align-items: center;
    }
  }

  .heading {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #777777;
    font-size: 1.6rem;
    line-height: 26px;
    letter-spacing: 0.32em;
    margin: 25px 0;
    z-index: 10;
    vertical-align: middle;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    span {
      color: var(--clr-primary);
    }
  }

  .para {
    // float: right;
    color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    // text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 2.2rem;
    word-wrap: break-word;
    // max-width: 45%;
    text-align: left;
    width: 70%;
    @media screen and(max-width: 960px) {
      // text-align: center;
      width: 85%;
      font-size: 1.3rem;
    }
    @media screen and(max-width: 400px) {
      width: 90%;
      font-size: 1.1rem !important;
    }
  }
  .companyInput {
    width: 100% !important;
  }
}
