@import "../common.module.scss";

.container {
  background: black;
  position: relative;
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    z-index: 1000;
    span,
    svg {
      cursor: pointer;
    }
    svg {
      fill: white;
    }
  }
  .arrowRight {
    left: auto;
    right: 20px;
    transform: translate(0, -50%);
  }
  .about {
    padding-top: 100px;
    justify-content: center;
    display: flex !important;
    position: relative;
  }
  .title,
  .otherName {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%) !important;
    h1 {
      font-weight: 600;
      font-family: "Oswald", sans-serif !important;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
    }
    p {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.6);
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;
      margin-left: 20px;
      font-size: 0.85rem;
      line-height: 1.4rem;
    }
  }
  .otherName {
    // margin-top: 10rem;
    left: auto;
    right: 12%;
    width: 25%;
    text-align: right;
    z-index: 10;
    h1 {
      font-size: 1rem;
      color: white;
      display: none;
    }
    p {
      text-align: right;
      margin: 0;
      transform-origin: center;
      span {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 0.7rem;
        text-decoration: underline;
        cursor: pointer !important;
      }
    }
  }
  .distortion {
    // width: 40%;
    @extend .flexRow;
    align-items: flex-end;
    justify-content: center;
    height: 700px;
    margin: 0 10px;
    // .bgContainer{
    //   background-size: cover;
    //   height: 100%;
    //   width: 100%;
    //   background-repeat: no-repeat;
    //   width: auto;
    // }
    img {
      height: 100%;
      @media screen and (max-width: 1400px) {
        height: 90%;
      }
    }
  }
  .transition {
    transition: all 0.3s ease-in-out;
  }
}
.readMoreDialog {
  & div[role="dialog"] {
    overflow: hidden !important;
    background: #181818;
  }
  .styledCloseBtn {
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
    font-size: 14px;
  }
  h2 {
    color: white;
  }
  p {
    color: rgb(180, 180, 180) !important;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    .title {
      left: 10%;
    }
    .otherName {
      width: 25%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    .distortion {
      height: 500px;
    }
    .title {
      top: 60%;

      left: 8%;
      h1 {
        font-size: 1.4rem;
      }
    }
    .otherName {
      width: 35%;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .title {
      left: 12%;
      h1 {
        font-size: 1.4rem;
      }
    }
    .otherName {
      top: auto;
      right: 8%;
      bottom: 2%;
      width: 40%;
    }
  }
}

@media screen and (max-width: 700px) {
  .container {
    .title {
      top: 60%;
      left: 8%;
      h1 {
        font-size: 1.4rem;
      }
    }
    .otherName {
      top: auto;
      right: 8%;
      bottom: 0;
      width: 50%;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    .about {
      padding-top: 100px;
    }
    .title {
      top: 10%;
      left: 8%;
      h1 {
        font-size: 1.2rem;
      }
    }
    .otherName {
      top: auto;
      right: 0;
      padding: 20px 15px;
      bottom: 0;
      transform: translateY(0) !important;
      width: 100%;
      background: linear-gradient(
        to top,
        #000,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.2),
        transparent
      );
    }
    .title {
      p {
        margin-left: 0px !important;
      }
    }
  }
}
