@import "../common.module.scss";

.container {
  background: black;
  position: relative;
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    z-index: 1000;
    span,
    svg {
      cursor: pointer;
    }
    svg {
      fill: white;
    }
  }
  .arrowRight {
    left: auto;
    right: 20px;
    transform: translate(0, -50%);
  }
  .about {
    padding-top: 100px;
    justify-content: center;
    display: flex !important;
    position: relative;
    img {
      // margin: 0 10px;
    }
  }
  .title,
  .otherName {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%) !important;
    h1 {
      font-weight: 400;
      font-family: "Playfair Display", serif !important;
      color: white;
    }
    p {
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.6);
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;
      margin-left: 20px;
      font-size: 0.85rem;
      line-height: 1.4rem;
    }
  }
  .otherName {
    // margin-top: 10rem;
    left: auto;
    right: 12%;
    width: 20%;
    text-align: right;
    z-index: 10;
    h1 {
      font-size: 1rem;
      color: white;
      display: none;
    }
    p {
      text-align: right;
      margin: 0;
      transform-origin: center;
      span {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 0.7rem;
        text-decoration: underline;
        cursor: pointer !important;
      }
    }
  }
  .distortion {
    width: 40%;
    height: 700px;
    margin: 0 10px;
    // .bgContainer{
    //   background-size: cover;
    //   height: 100%;
    //   width: 100%;
    //   background-repeat: no-repeat;
    //   width: auto;
    // }
    img {
      height: 100%;
    }
  }
  .transition {
    transition: all 0.3s ease-in-out;
  }
}
.readMoreDialog {
  & div[role="dialog"] {
    overflow: hidden !important;
    background: #181818;
  }
  .styledCloseBtn {
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
    font-size: 14px;
  }
  h2 {
    color: white;
  }
  p {
    color: rgb(180, 180, 180) !important;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    .distortion {
      height: 500px;
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    position: relative;
    .distortion {
      height: 450px;
      width: auto;
    }
    .title,
    .otherName {
      position: absolute;
      left: 20px;
      bottom: 30%;
      h1 {
        font-size: 1.3rem;
      }
    }
    .otherName {
      left: auto;
      right: 20px;
      bottom: 20px;
    }
  }
}

@media screen and (max-width: 400px) {
  .container {
    .about {
      padding-top: 50px;
    }
    .title {
      p {
        margin-left: 0px !important;
      }
    }
  }
}
