@import "../common.module.scss";

.container {
  padding: 100px 0;
  position: relative;

  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    z-index: 1000;
    svg {
      fill: white;
    }
  }
  .arrowRight {
    left: auto;
    right: 20px;
    transform: translate(0, -50%);
  }
  .sliderContainer {
    .imgContainer {
      width: 100%;
      //   min-width: 1000px;
      height: 500px;
      position: relative;

      //   padding: 0 20px;
      @extend .flexRow;
      overflow: hidden;
      img {
        width: 95%;
        margin: auto;
        height: 100%;
        // margin: 0 20px;
        filter: grayscale(1);
        transition: all 0.1s ease-in-out;
        object-fit: cover;
      }
      .slideTitle {
        position: absolute;
        width: 95%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.2s ease-in-out;
        h4 {
          color: white;
          font-size: 2rem;
          margin-top: 50px;
          margin-right: 20px;
          transition: all 0.2s ease-in-out;
        }
        &:hover {
          opacity: 1;
          h4 {
            margin-top: 0;
          }
        }
      }
    }
    .activeSlide {
      img {
        filter: grayscale(0);
      }
    }
  }
}
