@import "../common.module.scss";

.container {
  padding: 100px 0;
  position: relative;

  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    z-index: 1000;
    span,
    svg {
      cursor: pointer;
    }
    svg {
      fill: white;
    }
  }
  .arrowRight {
    left: auto;
    right: 20px;
    transform: translate(0, -50%);
  }
  .sliderContainer {
    .imgContainer {
      width: 100%;
      //   min-width: 1000px;
      height: 500px;
      position: relative;

      //   padding: 0 20px;
      @extend .flexRow;
      overflow: hidden;
      .mainImage {
        width: 95%;
        margin: auto;
        height: 100%;
        // margin: 0 20px;
        filter: grayscale(1);
        transition: all 0.1s ease-in-out;
        object-fit: cover;
      }
      .slideTitle {
        position: absolute;
        width: 95%;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        height: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: all 0.4s ease-in-out;
        @extend .flexRow;
        align-items: flex-end;
        justify-content: space-between;
        padding: 20px;
        h4 {
          color: white;
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: -100px;
          transition: all 0.5s ease-in-out;
          line-height: normal;
        }
        img {
          width: 150px;
          margin-bottom: -100px;
          transition: all 0.5s ease-in-out;
        }
        &:hover {
          opacity: 1;
          h4,
          img {
            margin-bottom: 0;
          }
        }
        //Logo on bottom left
      }
    }
    .activeSlide {
      .mainImage {
        filter: grayscale(0);
      }
    }
  }
}
