@import "../common.module.scss";

.container {
  padding: 5% 0;

  .imgContainer {
    text-align: center;
    color: #000;
    padding: 0 20px;
    overflow: hidden;

    .imgOverlay {
      position: relative;

      &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 40%;
        background: -webkit-gradient(
          linear,
          left bottom,
          left top,
          from(rgba(255, 255, 255, 0.8)),
          to(rgba(255, 255, 255, 0))
        );
        background: -o-linear-gradient(
          bottom,
          rgba(255, 255, 255, 0.8) 0,
          rgba(255, 255, 255, 0) 100%
        );
        background: linear-gradient(
          to top,
          rgba(255, 255, 255, 0.8) 0,
          rgba(255, 255, 255, 0) 100%
        );
        pointer-events: none;
        transition: all 0.2s ease-in-out;
      }
    }

    img {
      width: 100%;
      transition: all 0.2s ease-in-out;
      object-fit: cover;
      object-position: center;
    }

    h6 {
      transform: translate(-20%, -70%);
      color: black;
      z-index: 10;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 2.8em;
      vertical-align: middle;
      letter-spacing: 0.05em;
      line-height: 1em;
      word-wrap: break-word;
      text-shadow: rgba(0, 0, 0, 0.25) 3px 4px 4px;
      transition: all 0.2s ease-in-out;
      -webkit-transform: translate(-20%, -70%);
      -moz-transform: translate(-20%, -70%);
      -ms-transform: translate(-20%, -70%);
      -o-transform: translate(-20%, -70%);
    }

    p {
      color: #222;
      top: -90%;
      transform: translateY(-90%);
      word-wrap: break-word;
      transition: all 0.2s ease-in-out;
      font-size: 0.8em;
      z-index: 10;
      -webkit-transform: translateY(-90%);
      -moz-transform: translateY(-90%);
      -ms-transform: translateY(-90%);
      -o-transform: translateY(-90%);
    }
  }
}

.subheading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ababab;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.4em;
  margin: 25px 0;
  z-index: 10;
  vertical-align: middle;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.heading {
  color: black;
  z-index: 10;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 65px;
  line-height: 62px;
  vertical-align: middle;
  letter-spacing: 0.05em;
  word-wrap: break-word;
}

.imgContainer:hover {
  .imgOverlay {
    transform: scale(1.02);
    &::after {
      transform: translateY(10%);
      -webkit-transform: translateY(10%);
      -moz-transform: translateY(10%);
      -ms-transform: translateY(10%);
      -o-transform: translateY(10%);
    }
  }
  img {
    transform: scale(1.02);
  }

  .name,
  p {
    padding-left: 10%;
    transform: translate(-10%, -70%);
    -webkit-transform: translate(-10%, -70%);
    -moz-transform: translate(-10%, -70%);
    -ms-transform: translate(-10%, -70%);
    -o-transform: translate(-10%, -70%);
  }
}
