@import "../common.module.scss";

.card {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  // height: 80vh;
  cursor: pointer !important;

  @extend .flexColumn;
  span {
    height: 100%;
  }
  img,
  video {
    width: 100%;
    // height: 100%;
    object-fit: contain;
    transition: all 5s ease-in-out;
    transform-origin: center center;
  }

  .playBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    svg {
      font-size: 5rem;
      color: white;
    }
    z-index: 12;
  }

  .categoryCardTitle {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 50px 40px;
    @extend .flexColumn;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    cursor: pointer !important;
    transition: all 0.4s ease-in-out;

    h2,
    p {
      font-family: "Oswald", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      color: white;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
    }

    .categoryCardCat {
      transform: rotate(-90deg);
      transform-origin: 0 100%;
      margin-left: 20px;
      letter-spacing: 1rem;
      transition: all 0.2s ease-out;
      p {
        font-size: 0.8rem;
      }
    }

    opacity: 0;

    .clickToOpen {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid white;
      border-radius: 50%;
      font-size: 0.9rem;
      width: 100px;
      height: 100px;
      @extend .flexRow;
    }
  }
  &:hover {
    .categoryCardTitle {
      background: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
  }
}

.fillContainer {
  height: 80vh;
  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.autoHeight {
  // height: fit-content;
  // height: 80vh;

  img,
  video {
    // width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.animation {
  &:hover {
    img,
    video {
      transform: scale(1.2);
    }
    .categoryCardTitle {
      h2 {
        margin-top: 30px;
        // opacity: 0;
      }
      .categoryCardCat {
        // margin-left: 30px !important;
        letter-spacing: 2rem;
        // opacity: 0;
      }
    }
  }
}
.noAnimation {
  &:hover {
    .categoryCardTitle {
      h2 {
        // margin-top: 30px;
        opacity: 1;
      }
      .categoryCardCat {
        // margin-left: 30px !important;
        // letter-spacing: 2rem;
        opacity: 1;
      }
    }
  }
}

.lazyload {
  background: #f7f7f7;
}

.lazyloading {
  background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif)
    no-repeat center;
  min-height: 60px;
}

.grid-item {
  position: relative;
  width: 48%;
  margin: 1%;
  min-height: 10px;
  cursor: pointer;

  // img {
  //   max-width: 100%;
  //   object-fit: cover;
  // }

  &:hover {
    .title {
      opacity: 1;
    }
  }
  .title {
    position: absolute;
    bottom: 4px;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.2),
      transparent
    );
    transition: all 0.3s ease-in-out;
    h4 {
      font-size: 1.1rem;
      text-transform: capitalize;
    }
  }

  &::before {
    content: "";
    display: inline-block;
    padding-top: 60%;
  }
}
.grid-item-portrait:before {
  padding-top: 165%;
}

.grid-sizer {
  width: 1%;
}
