.slick-next,
.slick-prev {
  display: none !important;
}

.slick-center {
  transform: scale(1.5);
}

.slick-list {
  box-sizing: border-box;
}

.Mui-expanded .heading {
  color: #fff !important;
}
html {
  overflow-x: hidden !important;
}
.slick-slide div:first-of-type {
  outline: none !important;
}
@font-face {
  font-family: "Montblanc";
  font-style: normal;
  font-weight: 400;
  src: local('Mont-Blanc-Regular'), url('./fonts/Mont-Blanc-Regular.woff') format('woff');
}
@font-face {
  font-family: "Montblanc";
  font-style: normal;
  font-weight: 800;
  src: local('Mont-Blanc-ExtraBold'), url('./fonts/Mont-Blanc-ExtraBold.woff') format('woff');

}

@font-face {
  font-family: "Century Schoolbook";
  font-style: normal;
  font-weight: 400;
  src:  local('CenturySchoolbook-Regular') url('./fonts/CenturySchoolbook-Regular.ttf') format('ttf');
}
