@import "../common.module.scss";

.container {
  width: 100%;
  .imageBg {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @extend .flexRow;
    h1 {
      font-family: "Playfair Display", serif;
      font-size: 100px;
      color: white;
      text-transform: uppercase;
    }
  }
  .portfolioContainer {
    margin: 50px auto;
    @extend .flexRow;
    .portfolio-title {
      padding: 50px 0;
    }
    flex-direction: column;
    .grid-item {
      position: relative;
      width: 70%;
      margin: 20px 0;
      min-height: 10px;
      // cursor: pointer;
      height: 60vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .grid-sizer {
      width: 1%;
    }
  }
}
