@import "../common.module.scss";

.container {
  top: 0;
  margin: 0;
  display: block;
  width: 100%;

  .midSection {
    padding-top: 30px;
    justify-content: space-evenly;

    .experience,
    .testimonial {
      margin-top: 15%;
    }
  }

  .banner {
    width: 100vw;
    height: 50vh;
    background-image: url("../../Assets/pexels-debasish-sahoo-140221.jpg");
    background-size: cover;
    background-position-y: -200px;
    text-align: center;
    justify-content: center;

    div {
      height: 100%;
      padding: 10% 0;

      h1 {
        width: 100%;
        vertical-align: middle;
        color: white;
        z-index: 10;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 5em;
        line-height: 62px;
        vertical-align: middle;
        letter-spacing: 0.05em;
        word-wrap: break-word;
      }
    }
  }

  .experience {
    display: flex;
    flex-direction: row;
    text-align: right;

    .alignLeft {
      width: 100%;
      margin: auto 0;
      padding: 6% 4%;
      background-color: #ebebeb;
    }

    .para {
      text-align: right;
      padding-left: 30%;
      font-size: 0.9em;
      color: #6d6d6d;
    }

    .alignRight {
      margin: 0;
      padding: 0;
    }

    img {
      margin: auto 0;
      box-shadow: 8px 8px 16px rgba($color: #eee, $alpha: 0.25);
    }
  }

  .aboutWork {
    width: 100%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 10px 15%;
    background-color: #fff;

    .flex {
      flex: 1;
      margin: 8px 20px;
      vertical-align: middle;
      justify-content: center;
      text-align: center;

      h6 {
        z-index: 10;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 62px;
        vertical-align: middle;
        letter-spacing: 0.05em;
        word-wrap: break-word;
      }

      p {
        font-weight: 400;
        letter-spacing: 0.02em;
        color: #6d6d6d;
        font-size: 0.9em;
      }
    }
  }

  .carousel {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.team {
  margin-top: 5%;
  align-items: center;
  justify-content: center;
  text-align: center !important;
  padding-top: 80px;

  .para {
    text-align: center !important;
    margin-bottom: 30px;
  }

  .alignBottom {
    margin-top: 50px;
    width: 70%;
    justify-content: space-between;

    .imgContainer {
      text-align: center;
      color: #000;
      margin: 0 10px;
      overflow: hidden;

      .imgOverlay {
        position: relative;

        &::after {
          content: "";
          box-sizing: border-box;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 30%;
          background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(rgba(255, 255, 255, 0.8)),
            to(rgba(255, 255, 255, 0))
          );
          background: -o-linear-gradient(
            bottom,
            rgba(255, 255, 255, 0.8) 0,
            rgba(255, 255, 255, 0) 100%
          );
          background: linear-gradient(
            to top,
            rgba(255, 255, 255, 0.8) 0,
            rgba(255, 255, 255, 0) 100%
          );
          pointer-events: none;
        }
      }

      img {
        width: 100%;
        transition: all 0.2s ease-in-out;
        object-fit: cover;
        object-position: center;
      }

      h6 {
        top: -70%;
        transform: translateY(-70%);
        color: black;
        z-index: 10;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 2.4em;
        vertical-align: middle;
        letter-spacing: 0.05em;
        line-height: 1em;
        word-wrap: break-word;
        text-shadow: rgba(0, 0, 0, 0.25) 3px 4px 4px;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
      }

      p {
        color: #222;
        top: -90%;
        transform: translateY(-90%);
        word-wrap: break-word;
        transition: all 0.2s ease-in-out;
        font-size: 0.8em;
        z-index: 10;
        -webkit-transform: translateY(-90%);
        -moz-transform: translateY(-90%);
        -ms-transform: translateY(-90%);
        -o-transform: translateY(-90%);
      }
    }
  }
}

@media (max-width: 998px) {
  .container {
    .banner {
      height: 40vh;
      background-position-y: 80px;

      div {
        h1 {
          margin: 20% 0;
          font-size: 3em;
        }
      }
    }

    .aboutWork {
      flex-direction: column;
    }
  }
}

.imgContainer:hover {
  img {
    transform: scale(1.02);
  }

  .name,
  p {
    padding-left: 10%;
    transform: translateX(50%);
  }
}

.subheading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ababab;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.4em;
  margin: 25px 0;
  z-index: 10;
  vertical-align: middle;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.heading {
  color: black;
  z-index: 10;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 65px;
  line-height: 62px;
  vertical-align: middle;
  letter-spacing: 0.05em;
  word-wrap: break-word;
}
