.slider {
  margin: auto;
  background-color: white;
  padding: 100px 30px;

  .imgContainer {
    height: 100px;
    max-width: 150px;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
    align-items: center;
    img {
      max-width: 200px !important;
      max-height: 80px !important;

      @media screen and (max-width: 400px) {
        max-width: 150px !important;
      }
    }
  }
}
.container {
  position: relative;
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    z-index: 1000;
    span,
    svg {
      cursor: pointer;
    }
    svg {
      fill: rgb(49, 49, 49);
    }
  }
  .arrowRight {
    left: auto;
    right: 20px;
    transform: translate(0, -50%);
  }
}
