.slider {
  margin: auto;
  background-color: white;
  padding: 100px 30px;

  .imgContainer {
    height: 100px;
    width: 100px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    img {
      max-width: 200px !important;
      max-height: 100px !important;
    }
  }
}
