@import "../common.module.scss";

.container {
  top: 0;
  margin: 0;
  display: block;
  width: 100vw;
  // background-color: #000000;
  // cursor: none;

  .largeVideoBg {
    height: 100vh;
    min-height: 600px;
    width: 100%;
    position: relative;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .heading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: left;
      color: white;
      font-size: 3.2rem;
      h1 {
        font-weight: 700;
        margin: auto;
        width: fit-content;
        line-height: normal;
        line-height: normal;
        text-transform: none;
        letter-spacing: normal;
        font-family: "Montserrat", sans-serif !important;
      }
    }
  }

  .customCursor {
    width: 2rem;
    height: 2rem;
    border: 1px solid red;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 1;
  }
  .carousel {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  .section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .intro {
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba($color: #000000, $alpha: 0.75);

    .para {
      max-width: 70%;
      text-align: left;
    }

    img {
      margin: auto 30%;
      box-shadow: 8px 8px 16px rgba($color: #eee, $alpha: 0.25);
      transition: all 0.3s ease;
    }
  }

  .team {
    align-items: center;
    justify-content: center;
    text-align: center !important;
    padding-top: 80px;

    .para {
      text-align: center !important;
      margin-bottom: 30px;
    }

    .alignBottom {
      margin-top: 50px;
      width: 70%;
      justify-content: space-between;

      .imgContainer {
        text-align: center;
        color: #fff;
        margin: 0 10px;
        overflow: hidden;

        img {
          width: 100%;
          transition: all 0.2s ease-in-out;
          object-fit: cover;
          object-position: center;
        }
        h6 {
          top: -70%;
          transform: translateY(-70%);
          color: white;
          z-index: 10;
          font-family: "Bebas Neue", sans-serif;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 30px;
          line-height: 62px;
          vertical-align: middle;
          letter-spacing: 0.05em;
          word-wrap: break-word;
          text-shadow: rgba(0, 0, 0, 0.25) 3px 4px 4px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  //Category Cards
  .categoriesContainer {
    width: 60vw;
    margin: 40px auto;

    .categoryCard {
      width: 100%;
      height: 60vh;
      min-height: 300px;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      margin: 60px 0;
      cursor: pointer !important;
      .categoryCardTitle {
        height: 100%;
        padding: 20px;
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        // opacity: 0;
        background: rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        cursor: pointer !important;

        h2 {
          font-size: 3.2rem;
          font-weight: 700;
          color: white;
          font-weight: 400;
          text-transform: uppercase;
          // font-family: "Montserrat", sans-serif;
        }
      }
      &:hover {
        .categoryCardTitle {
          background: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .categoriesContainer {
      width: 90vw;
      .categoryCard {
        height: 80vh;
      }
    }
    .largeVideoBg {
      .heading {
        font-size: 2.5rem;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .container {
    .categoriesContainer {
      margin-top: 0;
      .categoryCard {
        height: 40vh;
        margin: 20px 0;
        .categoryCardTitle {
          h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
    .largeVideoBg {
      .heading {
        font-size: 1.8rem;
      }
    }
  }
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #ababab;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.4em;
  margin: 25px 0;
  z-index: 10;
  vertical-align: middle;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.para {
  color: white;
  z-index: 10;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 65px;
  line-height: 62px;
  vertical-align: middle;
  letter-spacing: 0.05em;
  word-wrap: break-word;
}

.imgContainer:hover {
  img {
    transform: scale(1.02);
  }
  .name {
    padding-left: 10%;
    transform: translateX(50%);
  }
}

.thirdSection {
  background-size: cover;
}

.insideStyles {
  color: "#fff";
  padding: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.2em;
  z-index: 10;
  vertical-align: middle;
}

.about {
  padding-top: 100px;
  background: black;
  justify-content: center;
  img {
    margin: 0 10px;
  }
}
.title,
.otherName {
  h1 {
    font-weight: 400;
    font-family: "Playfair Display", serif !important;
    color: white;
  }
  p {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    margin-left: 20px;
    font-size: 0.8rem;
  }
}
.otherName {
  margin-top: 10rem;
  text-align: right;
  h1 {
    font-size: 1rem;
    color: white;
  }
  p {
    text-align: right;
    margin: 0;
  }
}
.distortion {
  width: 35%;
  height: 700px;
  margin: 0 10px;
  canvas {
    mix-blend-mode: screen !important;
  }
}
.transition {
  transition: all 0.3s ease-in-out;
}
