@import "../common.module.scss";

/*.container{
    top: 0;
    margin: 0;
    display: block;
    width: 100vw;
    background-color: #000000;
    cursor: none;
    
    .customCursor{
         
        width:2rem;
        height:2rem;
        border:1px solid red;
        backdrop-filter: blur(10px);
        border-radius:50%;
        position:absolute;
        transform: translate(-50%,-50%);
        pointer-events: none;
        transition: all 0.3s ease;
        transition-property: background,transform;
        transform-origin: 100% 100%;
        z-index: 1;
        
       
        
    }
    .carousel{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .section{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .intro{
        color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        background-color: rgba($color: #000000, $alpha: .75);

        .para{
            max-width: 70%;
            text-align: left;
        }
        
        img{
            margin: auto 30%;
            box-shadow: 8px 8px 16px rgba($color: #eee, $alpha: 0.25);
            transition: all 0.3s ease;
        }

        
        
    }


    .team{
        align-items: center;
        justify-content: center;
        text-align: center !important;
        padding-top: 80px;

        .para{
            text-align: center !important;
            margin-bottom: 30px;
        }

        .alignBottom{
            margin-top: 50px;
            width: 70%;
            justify-content: space-between;

            .imgContainer{
                text-align: center;
                color: #fff;
                margin: 0 10px;
                overflow: hidden;

                img{
                    width: 100%;
                    transition: all 0.2s ease-in-out;
                    object-fit: cover;
                    object-position: center;
                }
                h6{
                    top: -70%;
                    transform: translateY(-70%);
                    color: white;
                    z-index: 10;
                    font-family: "Bebas Neue",sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 30px;
                    line-height: 62px;
                    vertical-align: middle;
                    letter-spacing: .05em;
                    word-wrap: break-word;
                    text-shadow: rgba(0, 0, 0, 0.25) 3px 4px 4px;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}

.heading{
    font-family: "Bebas Neue",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ABABAB;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .4em;
    margin: 25px 0;
    z-index: 10;
    vertical-align: middle;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.para{
    color: white;
    z-index: 10;
    font-family: "Bebas Neue",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 62px;
    vertical-align: middle;
    letter-spacing: .05em;
    word-wrap: break-word;
}

.imgContainer:hover {
    img{
        transform: scale(1.02);
    }
    .name{
        padding-left: 10%;
        transform: translateX(50%) ;
    }
}

.thirdSection{
    background-size: cover;
}*/
.container {
  margin: 0px;
  padding: 0px;
  color: #fff;
  width: 100%;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: none;

  .header1 {
    height: 100vh;
    width: 100%;
    background-image: url("../../Assets/pexels-artem-beliaikin-1319795.jpg");
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
    position: relative;
  }
  .header2 {
    height: 100vh;
    width: 100%;
    background-image: url("../../Assets/pexels-bich-tran-669996.jpg");
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
    position: relative;
  }
  .header3 {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("../../Assets/pexels-caleb-oquendo-2918590.jpg");
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
  }
  .header4 {
    height: 100vh;
    width: 100%;
    background-image: url("../../Assets/pexels-debasish-sahoo-140221.jpg");
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
    position: relative;
  }
  .header5 {
    height: 100vh;
    width: 100%;
    background: black;
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
    padding: 40px;
    position: relative;
  }
  header h1 {
    font-size: 48px;
    color: #fff;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  header .subheader {
    display: flex;
    padding: 30px;
    justify-content: space-evenly;
    align-items: center;
  }
  header .subheader img {
    width: 50%;
    z-index: 1;
    margin-left: 30px;
    position: relative;
  }

  /*.header1 :hover {
       
        height:100vh;
        text-align: center;
        width:100%;
        transition: .5s ease;
        background: linear-gradient(25deg, rgb(255, 21, 0),rgb(251, 170, 170),rgb(255, 0, 200)); 
        opacity: 0.5; 
    }
    .header2 :hover {
       
        height:100vh;
        text-align: center;
        width:100%;
        transition: .5s ease;
        background: linear-gradient(25deg, rgb(255, 21, 0),rgb(251, 170, 170),rgb(255, 0, 200)); 
        opacity: 0.5; 
    }
    .header3 :hover {
       
        height:100vh;
        text-align: center;
        width:100%;
        transition: .5s ease;
        background: linear-gradient(25deg, rgb(255, 21, 0),rgb(251, 170, 170),rgb(255, 0, 200)); 
        opacity: 0.5; 
    }
    .header4 :hover {
       
        height:100vh;
        text-align: center;
        width:100%;
        transition: .5s ease;
        background: linear-gradient(25deg, rgb(255, 21, 0),rgb(251, 170, 170),rgb(255, 0, 200)); 
        opacity: 0.5; 
    }*/
}

.parallax {
  text-align: center;
}

.insideStyles {
  color: "#fff";
  padding: 20;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.2em;
  z-index: 10;
  vertical-align: middle;
}

.about {
  padding: 50px 0;
  background: black;
  justify-content: center;
  img {
    margin: 0 10px;
  }
}
.title,
.otherName {
  h1 {
    font-weight: 400;
    font-family: "Playfair Display", serif !important;
  }
  p {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    margin-left: 20px;
    font-size: 0.8rem;
  }
}
.otherName {
  margin-top: 10rem;
  text-align: right;
  h1 {
    font-size: 1rem;
  }
  p {
    text-align: right;
    margin: 0;
  }
}
.distortion {
  width: 40%;
  height: 700px;
  margin: 0 10px;
}
.transition {
  transition: all 0.3s ease-in-out;
}

// .customCursor {
//   width: 3rem;
//   height: 3rem;
//   border: 2px solid blue !important;
//   background-color: blue !important;
//   border-radius: 50%;
//   position: absolute;
//   transform: translate(-50%, -50%);
//   pointer-events: none;
//   transition: all 0.3s ease;
//   transition-property: background, transform;
//   transform-origin: 100% 100%;
//   z-index: 1;
// }
