@import "../common.module.scss";

.container{
    top: 0;
    margin: 0;
    display: block;
    width: 100vw;
    background-color: #000000;
    
    .carousel{
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    .section{
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .intro{
        color: white;
        width: 100vw;
        height: 100vh;
        display: flex;
        background-color: rgba($color: #000000, $alpha: .75);

        .para{
            max-width: 70%;
        }
        
        img{
            margin: auto 30%;
            box-shadow: 8px 8px 16px rgba($color: #eee, $alpha: 0.25);
        }

    }


    .team{
        align-items: center;
        justify-content: center;
        text-align: center !important;
        padding-top: 80px;

        .para{
            text-align: center !important;
            margin-bottom: 30px;
        }

        .alignBottom{
            margin-top: 50px;
            width: 70%;
            justify-content: space-between;

            .imgContainer{
                text-align: center;
                color: #fff;
                margin: 0 10px;

                img{
                    width: 100%;
                }
                h6{
                    top: -70%;
                    transform: translateY(-70%);
                    color: white;
                    z-index: 10;
                    font-family: "Bebas Neue",sans-serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    font-size: 30px;
                    line-height: 62px;
                    vertical-align: middle;
                    letter-spacing: .05em;
                    word-wrap: break-word;
                    text-shadow: rgba(0, 0, 0, 0.25) 3px 4px 4px;

                }
            }
        }
    }
}

.heading{
    font-family: "Bebas Neue",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ABABAB;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .4em;
    margin: 25px 0;
    z-index: 10;
    vertical-align: middle;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.para{
    color: white;
    z-index: 10;
    font-family: "Bebas Neue",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 62px;
    vertical-align: middle;
    letter-spacing: .05em;
    word-wrap: break-word;
}

.alignLeft{
    @extend .align;
    float: left;
    left: 0;
    vertical-align: middle;
}

.alignRight{
    @extend .align;
    vertical-align: middle;
    float: right;
    right: 0;
}

.alignTop{
    @extend .align;
    float: top;
    top: 0;
}

.alignBottom{
    @extend .align;
    float: bottom;
    display: flex;
    flex-direction: row;
    bottom: 0;
}

.align{
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: auto auto;
}