@import "../../App.module.scss";
@import "../common.module.scss";

.container {
  .bgImage {
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    @extend .flexRow;
    h2 {
      font-size: 4rem;
      color: white;
      font-family: "Playfair Display", serif;
    }
  }
}

.content {
  color: black;
  width: 100vw;
  // height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 120px 10px;

  .details {
    @extend .flexRow;
    padding: 20px 0;
    // flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    span {
      @extend .flexRow;
      justify-content: flex-start;
      margin: 0 10px;
      svg {
        fill: rgba(0, 0, 0, 0.6);
      }
      a {
        width: fit-content !important;
        margin-left: 10px;
        font-size: 1rem;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
  .socialLinks {
    // width: 100%;
    ul {
      @extend .flexRow;
      list-style: none;
      width: 100%;
      justify-content: flex-start;

      li {
        cursor: pointer !important;
        margin-left: 20px;
        &:first-of-type {
          margin: 0;
        }
      }
    }
  }

  .heading {
    // font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ababab;
    font-size: 18px !important;
    line-height: 26px;
    letter-spacing: 0.4em;
    margin: 25px 0;
    z-index: 10;
    vertical-align: middle;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  .para {
    // float: right;
    color: black;
    z-index: 10;
    // font-family: "Bebas Neue", sans-serif;
    font-family: "Montblanc", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    vertical-align: middle;
    word-wrap: break-word;
    max-width: 45%;
    // text-align: right;
  }
}

@media screen and (max-width: 800px) {
  .content {
    .para {
      max-width: 80%;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .bgImage {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .content {
    .para {
      max-width: 80%;
      font-size: 1.4rem;
      line-height: normal;
    }
    .details {
      flex-direction: column;
      align-items: center;
    }
  }
}
