@import "../../App.module.scss";
@import "../common.module.scss";

.container {
  .bgImage {
    position: relative;
    min-height: 400px;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @extend .flexRow;
    justify-content: center;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }
    h1 {
      z-index: 10;
      color: white;
      font-size: 4rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1rem;
    }
    @media screen and (max-width: 600px) {
      h1 {
        font-size: 2rem;
      }
    }
    @media screen and (max-width: 400px) {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}

.content {
  // color: black;
  width: 100vw;
  // height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .mapImage {
    width: 100%;
    height: 100%;
    min-height: 400px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .contactDetails {
    @extend .flexColumn;
    padding: 50px 70px;
    align-items: flex-start;
    position: relative;
    justify-content: center;
    background-image: url(../../Assets/back-img.jpg);
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #a52123, $alpha: 0.95);
    }
    p {
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      font-size: 1.1rem;
      line-height: 2rem;
      color: rgba(255, 255, 255, 0.7);
      z-index: 10;
    }
    .phone,
    .email,
    .addresses {
      z-index: 10;
      span,
      a,
      li {
        color: rgba(255, 255, 255, 0.8) !important;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 1.1rem;
      }
      span {
        @extend .flexRow;
        justify-content: flex-start;
        align-items: center;

        svg {
          fill: white;
        }
        h3 {
          margin-left: 15px;
          color: white;
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
        }
      }
      margin: 15px 0;
      a {
        margin-top: 10px !important;
      }
    }
    .email {
      span:nth-child(2) {
        margin-left: 40px;
        @media screen and (max-width: 600px) {
          margin-left: 0;
        }
      }
    }
    .phone {
      margin-top: 30px;
      a {
        margin-left: 40px;
        @media screen and (max-width: 600px) {
          margin-left: 0;
        }
      }
      h3 {
        margin-top: -5px;
      }
      span {
        margin-bottom: 10px;
      }
    }
    .addresses {
      ul {
        list-style: none;
        margin-left: 40px;
        @media screen and (max-width: 600px) {
          margin-left: 0;
        }
        li {
          margin: 10px 0;
        }
      }
    }
    @media screen and (max-width: 600px) {
      padding: 50px 20px;
    }
  }
  .career {
    padding: 100px 50px;
    width: 80%;
    margin: 0 auto;
    h2 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-weight: 400;
      font-size: 2.5rem;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 20px;
    }
    p {
      font-weight: 300;
      font-family: "Montserrat", sans-serif;
      font-size: 1.1rem;
      line-height: 2rem;
      margin: 20px auto;
      color: rgba(0, 0, 0, 0.7);
    }
    @media screen and(max-width:600px) {
      padding: 50px 10px;
    }
    @media screen and (max-width: 400px) {
      width: 90%;
    }
  }

  form {
    @extend .flexRow;
    justify-content: center;
    min-width: 350px;
    width: 30%;
    margin: 0 auto;
    margin-top: 0;
    padding: 15px;

    section {
      flex: 1;
      text-align: left;
    }
    .fileInput {
      border-radius: 50px;
      background: #f3f3f3;
      cursor: pointer;
      @extend .flexRow;
      justify-content: flex-start;
      padding: 10px 20px;
      p {
        font-size: 0.9rem;
        margin: 0;
      }
    }
    .submitBtn {
      background: var(--clr-primary);
      padding: 10px 30px;
      text-transform: capitalize !important;
      color: white;
      font-weight: 700;
      font-size: 0.8rem;
      margin-left: 10px;
      border-radius: 50px;
      // width: 100%;
    }

    @media screen and(max-width:600px) {
      flex-direction: column;
      // .fileInput {
      //   width: 100%;
      section {
        width: 100%;
      }
      // }
      .submitBtn {
        margin-top: 20px;
        width: 100%;
      }
    }

    @media screen and (max-width: 1000px) {
      width: 90%;
    }
    @media screen and (max-width: 400px) {
      min-width: 200px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .content {
    .para {
      max-width: 80%;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    .bgImage {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .content {
    .para {
      max-width: 80%;
      font-size: 1.4rem;
      line-height: normal;
    }
    .details {
      flex-direction: column;
      align-items: center;
    }
  }
}
