@import "../../App.module.scss";
@import "../common.module.scss";

.container {
  .bgImage {
    height: 350px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    @extend .flexRow;
    h2 {
      font-size: 4rem;
      color: white;
      font-family: "Playfair Display", serif;
    }
  }
}

.content {
  color: black;
  width: 100vw;
  // height: 75vh;
  display: flex;
  text-align: right;
  padding: 50px 10px;

  .contactDetails {
    @extend .flexRow;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    span {
      @extend .flexRow;
      justify-content: flex-start;
      p {
        width: fit-content;
        margin-left: 10px;
      }
    }
  }
  .socialLinks {
    width: 100%;
    margin: 20px 0;
    ul {
      @extend .flexRow;
      list-style: none;
      width: 100%;
      justify-content: flex-start;
      li {
        margin-left: 20px;
        &:first-of-type {
          margin: 0;
        }
      }
    }
  }

  .floatLeft {
    flex: 1;
    float: left;
    margin: auto auto;
    left: 0;
    vertical-align: middle;
    justify-content: right;
    align-items: flex-end;

    div {
      width: 100%;
      display: inline-block;

      ul {
        color: black;
        text-decoration: none;
        list-style: none;
        outline: none;
        text-align: right;
        margin-top: 30px;

        li {
          float: right;
          padding: 0 10px;
        }

        a {
          color: black;
        }
      }
    }
  }

  .floatRight {
    margin: auto auto;
    flex: 1;
    vertical-align: middle;

    form {
      width: 60%;
      display: block;
      margin: auto 8%;

      .flex {
        width: 100%;
        flex-direction: row;
      }

      textarea {
        display: inline-block;
        width: 100%;
        letter-spacing: normal;
        word-spacing: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        text-align: start;
        flex-direction: column;
        resize: auto;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    }

    input[type="text"] {
      float: left;
    }

    input[type="email"],
    input[type="text"],
    textarea {
      width: max-content;
      position: relative;
      margin: 10px 0;
      padding: 17px 25px;
      font-family: inherit;
      font-size: 16px;
      line-height: 24px;
      font-weight: inherit;
      color: #6d6d6d;
      background-color: transparent;
      border: 2px solid rgba(0, 0, 0, 0.2);
      border-radius: 0;
      outline: 0;
      // cursor: text;

      &:focus {
        border-left: 2px solid black;
        color: #111;
      }
    }

    button {
      margin: 10px 0;
      width: 100%;
    }
  }

  .heading {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #ababab;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.4em;
    margin: 25px 0;
    z-index: 10;
    vertical-align: middle;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  .para {
    float: right;
    color: black;
    z-index: 10;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 62px;
    vertical-align: middle;
    letter-spacing: 0.05em;
    word-wrap: break-word;
    max-width: 45%;
    text-align: right;
  }
}
