@import "../common.module.scss";

.container{
    width: 70%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    padding: 10px 0 ;
    background-color: transparent;

    .brandName{
        width: fit-content;
        max-width: 300px;
        flex: 1;
        margin-right: auto;
    }

    .nav{
        flex: 1;
        flex-wrap: nowrap;
        text-align: left;
        padding: 8px 0;
        .navItems{
            float: left;
            margin: 0 8%;
            .navLink{
                font-family: bebas neue,sans-serif;
                font-weight: 400;
                text-transform: uppercase;
                font-size: 18px;
                letter-spacing: .2em;
                line-height: 1.857em;
                z-index: 10000;
            }
        }
    }
}

.dropdown{
        display: block;
        .dropdownContent{
            display: none ;
            position: absolute;
            width: 260px;
            padding: 19px 14px 22px;
            background-color: rgba(0,0,0,.95);
            border-top: 2px solid rgba(255,255,255,.2);
            border-radius: 2px;
            opacity: 0;
            -webkit-transition: opacity .2s;
            -o-transition: opacity .2s;
            transition: opacity .2s;

            .dropdownLink{
                color: #a2a2a2;
                font-size: 14px;
            }
        }

        &:hover .dropdownContent{
            opacity: 1;
            display: block;
        }

        .dropdownItems:hover{
            @extend .subheaderActive;
        }
}

.headerActive{
    text-decoration: line-through;
}

.subheaderActive{
    
    color: #fff !important;
    margin-left: 14px;
    .dropdownLink{
        color: #fff !important;
    }
}

@media(max-width: 998px){
    .container{
        .nav{
            flex: none;
            display: block;
            min-width: 70%;margin: 0 auto;
            padding: 34px 0;
            .navItems{
                float: none;
                width: 100%;
                display: block;
                position: relative;
                .navLink{
                    &::after{
                    content: '\f054';
                    position: absolute;
                    top: 10px;
                    right: 0;
                    font-family: 'font awesome 5 free';
                    font-size: 13px;
                    font-weight: 900;
                    line-height: 1;
                    color: #989898;
                    -webkit-transform-origin: 50% 50%;
                    -ms-transform-origin: 50% 50%;
                    transform-origin: 50% 50%;
                    -webkit-transition: -webkit-transform .2s ease-out;
                    transition: -webkit-transform .2s ease-out;
                    -o-transition: transform .2s ease-out;
                    transition: transform .2s ease-out;
                    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
                }
                }
            }
        }
    }
}


