.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  background: white;
  transition: all 0.4s ease-in-out;
}
.show {
  opacity: 1;
  pointer-events: all;
}
.hide {
  opacity: 0;
  pointer-events: none !important;
}
