@import "../common.module.scss";

.text{
  
      opacity: 0;
      z-index: 10;
      font-family: "Bebas Neue";
      height: auto;
      color: rgb(255, 255, 255);
      text-decoration: none;
      white-space: normal;
      text-align: center;
      line-height: 144px;
      text-shadow: rgba(0, 0, 0, 0.25) 3px 4px 4px;
      letter-spacing: 0px;
      visibility: visible;
}

.sliderCard{
  pointer-events: none;
}

.outerDiv {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  .innerDiv {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    color: white !important;
    background: rgba(0, 0, 0, 0.75);

    h2, span {
      @extend .text;
      width: 957px;
      min-height: 0px;
      min-width: 0px;
      max-height: none;
      max-width: 50%;
      font-weight: 400;
      font-size: 150px;
      transform-origin: 50% 50%;
      transform: translate(0px, 0px);
    }
    
  }

    .progressBarBg{
      position: absolute;
      right: 10%;
      float: right;
      width: 2px;
      height: 100%;
      min-width: 2px;
      min-height: 100vh;
      background-color: rgba(255, 255, 255, 0.25);
      z-index: 20;
      display: flex;
      .progressBar{
        width: 100%;
        min-height: 0;
        max-height: 100%;
        background-color: white;
      }
    }
  }

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h4{
  @extend .text;
  position: absolute;
  opacity: 1;
  z-index: 100;
  float: right;
  right: 4%;
  top: 50%;
  margin: auto;
  transform: translateY(50%);
  vertical-align: middle;
  font-weight: 400;
  font-size: 2.5em;
}