*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'open sans', sans-serif;
  scroll-behavior: smooth;
  line-height: 1.857em;
}

body{
  overflow-x: hidden;
}

.navbar{
    top: 0;
    z-index: 10000;
    position: fixed;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0;

}

    .dark{
        background-color: transparent;
        color: white;

        a{
            color: white;
        }
    }

    .light{
        background-color: white;
        color: black;
        a{
            color: black;
        }
    }
