.cursor,
.inner {
  width: 2rem;
  height: 2rem;
  border: 2px solid red;
  border-radius: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100000;
  transition: all 0.4s ease-out;
  transition-property: width, height, opacity, background;
  // background-color: red;
  transform-origin: 100% 100%;
}
// .inner {
//   width: 0.3rem;
//   height: 0.3rem;
//   background: red;
//   border-radius: 50%;
//   // position: fixed;
//   // z-index: 1000000;
//   // transform: translate(-50%, -50%);
//   transition: all 0.08s ease-out;
//   transition-property: top left;
// }
