.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;

    .videoContainer {
        display: inline-block;
        video{
            width: 100%;
            height: auto;
            object-fit: contain;
            object-position: center;
            transition: 0.2s cubic-bezier(0,.15,0,.24);
        }
    }
}
