@import "../common.module.scss";

.container {
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    z-index: 1000;
    span,
    svg {
      cursor: pointer;
    }
    svg {
      fill: white;
    }
  }
  .arrowRight {
    left: auto;
    right: 20px;
    transform: translate(0, -50%);
  }
  .card {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 300px;
    height: 80vh;
    cursor: pointer !important;

    @extend .flexColumn;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 5s ease-in-out;
    }

    .categoryCardTitle {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      padding: 50px 40px;
      @extend .flexColumn;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      cursor: pointer !important;
      transition: all 0.4s ease-in-out;

      h2,
      p {
        font-family: "Oswald", sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        color: white;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
      }

      .categoryCardCat {
        transform: rotate(-90deg);
        transform-origin: 0 100%;
        margin-left: 20px;
        letter-spacing: 1rem;
        transition: all 0.4s ease-in-out;
        p {
          font-size: 0.8rem;
        }
      }
    }
    &:hover {
      .categoryCardTitle {
        background: rgba(0, 0, 0, 0.2);
      }
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
      .categoryCardTitle {
        h2 {
          margin-top: 30px;
          opacity: 0;
        }
        .categoryCardCat {
          margin-left: 30px !important;
          opacity: 0;
        }
      }
    }
  }
}
