.noDecoration, a {
  text-decoration: none;
  list-style: none;
  outline: none;
}

.btn, .btnDrakFilled, .btnLightFilled, .btnLight, .btnDark {
  width: auto;
  opacity: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-family: "Bebas Neue", sans-serif;
  font-size: 17px;
  line-height: 2em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border-radius: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  padding: 8px 50px;
  cursor: pointer !important;
  pointer-events: all !important;
  z-index: 1;
}

.btnDrakFilled {
  background-color: transparent;
  overflow: hidden;
  color: white;
  border: 1px solid black;
}

.btnDrakFilled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  background-color: black;
  border: 1px solid black;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.btnDrakFilled:hover {
  color: black;
  background-color: none;
  border-color: black;
}

.btnDrakFilled:hover::after {
  -webkit-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.btnLightFilled {
  background-color: transparent;
  overflow: hidden;
  color: black;
  border: 1px solid white;
}

.btnLightFilled::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
  background-color: white;
  border: 1px solid white;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.btnLightFilled:hover {
  color: white;
  background-color: none;
  border-color: white;
}

.btnLightFilled:hover::after {
  -webkit-transform: translateY(100%) !important;
          transform: translateY(100%) !important;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.btnLight {
  color: white;
  background-color: transparent;
  overflow: hidden;
  border: 1px solid white;
}

.btnLight::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid white;
  -webkit-transform: rotate(20deg) translateY(100%);
          transform: rotate(20deg) translateY(100%);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btnLight:hover {
  color: black;
  background-color: none;
}

.btnLight:hover::after {
  background-color: white;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.btnDark {
  color: black;
  background-color: transparent;
  overflow: hidden;
  border: 1px solid black;
}

.btnDark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid black;
  -webkit-transform: rotate(20deg) translateY(100%);
          transform: rotate(20deg) translateY(100%);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btnDark:hover {
  color: white;
  background-color: none;
}

.btnDark:hover::after {
  background-color: black;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.alignLeft {
  float: left;
  left: 0;
  vertical-align: middle;
}

.alignRight {
  vertical-align: middle;
  float: right;
  right: 0;
}

.alignTop {
  float: top;
  top: 0;
}

.alignBottom {
  float: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  bottom: 0;
}

.align, .alignLeft, .alignRight, .alignTop, .alignBottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto auto;
}

.flexRow, .container .navLinks, .container .navLinks .portfolioMenu,
.flexColumn,
.sidebarContainer .navLinksMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.flexColumn,
.sidebarContainer .navLinksMobile {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.noDecoration, a {
  width: 100px !important;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5%;
}

.container .brandName {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .brandName img {
  max-width: 180px;
  min-width: 100px;
  cursor: pointer !important;
}

.container .navLinks {
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  position: relative;
}

.container .navLinks .navLink,
.container .navLinks a {
  cursor: pointer !important;
  font-size: 0.9rem;
}

.container .navLinks .portfolioMenu .innerMenuContainer {
  position: absolute;
  bottom: 100%;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  pointer-events: none;
}

.container .navLinks .portfolioMenu .innerMenu {
  padding: 10px;
  list-style: none;
  background: white;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
  margin-top: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .navLinks .portfolioMenu .innerMenu li {
  margin: 10px 0;
  font-size: 0.8rem !important;
}

.container .navLinks .portfolioMenu .innerMenu a {
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7) !important;
}

.container .navLinks .portfolioMenu:hover .innerMenuContainer,
.container .navLinks .portfolioMenu .innerMenuContainer:hover {
  pointer-events: all;
}

.container .navLinks .portfolioMenu:hover .innerMenu,
.container .navLinks .portfolioMenu .innerMenuContainer:hover .innerMenu {
  opacity: 1;
  pointer-events: all;
  margin-top: 30px;
}

.container .burgerMenu {
  width: 30px;
  display: none;
  z-index: 1300 !important;
  position: relative;
  cursor: pointer;
}

.container .burgerMenu .burger {
  height: 5px;
  width: 100%;
  background: #b30202;
  margin: 5px 0;
  cursor: pointer;
  z-index: 1300 !important;
}

.sidebarContainer {
  width: 300px;
  position: relative;
  margin-top: 30px;
}

.sidebarContainer .burgerMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  cursor: pointer;
}

.sidebarContainer .burgerMenu .burger {
  height: 5px;
  width: 100%;
  background: #b30202;
  margin: 5px 0;
  cursor: pointer;
  z-index: 1300 !important;
}

.sidebarContainer .burgerActive {
  z-index: 1300;
}

.sidebarContainer .burgerActive .burger {
  background: black !important;
}

.sidebarContainer .burgerActive .burger:nth-child(2) {
  display: none;
}

.sidebarContainer .burgerActive .burger:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}

.sidebarContainer .burgerActive .burger:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(3px, -3px);
          transform: rotate(-45deg) translate(3px, -3px);
}

.sidebarContainer .navLinksMobile {
  list-style: none;
}

.sidebarContainer .navLinksMobile .brandName {
  margin-top: 100px;
}

.sidebarContainer .navLinksMobile .brandName img {
  max-width: 150px;
  min-width: 100px;
  cursor: pointer !important;
}

.sidebarContainer .navLinksMobile .navLink {
  margin: 20px 0;
}

@media screen and (max-width: 1200px) {
  .container .navLinks {
    width: 35%;
  }
}

@media screen and (max-width: 1000px) {
  .container .navLinks {
    width: 40%;
  }
}

@media screen and (max-width: 950px) {
  .container .brandName {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: auto;
    margin-left: 0;
  }
  .container .navLinks {
    display: none;
  }
  .container .burgerMenu {
    display: block;
  }
}
/*# sourceMappingURL=Nav.module.css.map */