@import "../common.module.scss";

.noDecoration {
  // text-decoration: none !important;
  width: 100px !important;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 5%;

  .brandName {
    width: fit-content;
    // max-width: 35%;
    // flex: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    justify-content: center;

    img {
      max-width: 180px;
      min-width: 100px;
      cursor: pointer !important;
    }
  }

  .navLinks {
    @extend .flexRow;
    list-style: none;
    justify-content: space-between;
    width: 22%;
    position: relative;
    &:nth-child(1) {
      width: 15%;
    }
    &.includeHome {
      width: 20%;
    }
    .navLink,
    a {
      cursor: pointer !important;
      font-size: 1rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
    }
    .portfolioMenu {
      @extend .flexRow;
      .innerMenuContainer {
        position: absolute;
        bottom: 100%;
        transform: translate(0, 100%);
        min-width: 200px;
        pointer-events: none;
      }
      .innerMenu {
        padding: 10px;
        list-style: none;
        background: white;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05);
        margin-top: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
        li {
          margin: 10px 0;
          font-size: 0.8rem !important;
        }
        a {
          text-transform: capitalize;
          color: rgba(0, 0, 0, 0.7) !important;
        }
      }
      &:hover .innerMenuContainer,
      .innerMenuContainer:hover {
        pointer-events: all;
      }
      &:hover,
      .innerMenuContainer:hover {
        .innerMenu {
          opacity: 1;
          pointer-events: all;
          margin-top: 30px;
        }
      }
    }
  }
  .burgerMenu {
    width: 30px;
    display: none;
    z-index: 1300 !important;
    position: relative;
    cursor: pointer;
    .burger {
      height: 5px;
      width: 100%;
      background: rgb(179, 2, 2);
      margin: 5px 0;
      cursor: pointer;
      z-index: 1300 !important;
    }
  }
  // .burgerActive {
  //   z-index: 1300;
  //   .burger {
  //     background: black !important;
  //     &:nth-child(2) {
  //       display: none;
  //     }
  //   }
  // }
}
.sidebarContainer {
  width: 300px;
  position: relative;
  margin-top: 30px;
  .burgerMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    .burger {
      height: 5px;
      width: 100%;
      background: rgb(179, 2, 2);
      margin: 5px 0;
      cursor: pointer;
      z-index: 1300 !important;
    }
  }
  .burgerActive {
    z-index: 1300;
    .burger {
      background: black !important;
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
  }
  .navLinksMobile {
    @extend .flexColumn;
    list-style: none;
    .brandName {
      margin-top: 100px;
      img {
        max-width: 150px;
        min-width: 100px;
        cursor: pointer !important;
      }
    }
    .navLink {
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 1550px) {
  .container {
    .navLinks {
      width: 25%;
      &:nth-child(1) {
        width: 19%;
      }
      &.includeHome {
        width: 25%;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .container {
    .navLinks {
      width: 30%;
      &:nth-child(1) {
        width: 22%;
      }
      .includeHome {
        width: 30%;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .container {
    .navLinks {
      width: 35%;
      &:nth-child(1) {
        width: 25%;
      }
      &.includeHome {
        width: 35%;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .container {
    padding: 20px 5%;
    .brandName {
      position: relative !important;
      top: auto;
      left: auto;
      transform: translate(0, 0);
      justify-content: flex-start;
      margin-right: auto;
      margin-left: 0;
    }
    .navLinks {
      display: none;
    }
    .burgerMenu {
      display: block;
    }
  }
}
